@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {

    /* For Dark Mode */
    --color-scheme: light dark;

    --color-custom-neutral-100: #F3F5F8;
    --color-custom-neutral-200: #E0E4EA;
    --color-custom-neutral-950: #0E121B;
    --color-custom-neutral-800: #232530;
    --color-custom-neutral-600: #525866;
    --color-custom-neutral-300: #CACFD8;
    --color-custom-neutral-400: #99A0AE;
    --color-custom-blue-500: #335CFF;
    --color-custom-blue-50: #EBF1FF;
    --color-custom-neutral-700: #2B303B;
    --color-custom-neutral-500: #717784;
    --breakpoint-custom-lg: 1025px;
    --breakpoint-custom-md: 769px;
    --breakpoint-custom-sm: 476px;

    /* Animations */
    --animate-slide-fade-in: slide-fade-in 0.25s ease-out;
}

@keyframes slide-fade-in {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.inter {
    font-family: var(--font-inter);
}

.serif {
    font-family: var(--font-serif);
}

.monospace {
    font-family: var(--font-monospace);
}