@import "tailwindcss";

@theme inline {
    --color-custom-neutral-100: #F3F5F8;
    --color-custom-neutral-200: #E0E4EA;
    --color-custom-neutral-950: #0E121B;
    --color-custom-neutral-600: #525866;
    --color-custom-neutral-300: #CACFD8;
    --color-custom-blue-500: #335CFF;
}